<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{pass.reset}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{password.reset.hello(${user.firstName})}">Привет, User.</p>
<p th:text="#{password.reset.text(${user.email})}">Мы получили запрос на установку нового пароля...</p>
<a th:text="#{password.reset.button}" th:href="${resetUrl}">Установить пароль</a>
</body>
</html>